semestres/segundo_semestre/cadeiras/ed_estrutura_de_dados/tarefas-higormcarnauba/
semestres/segundo_semestre/cadeiras/ies_introducao_a_engenharia_de_software/TRABALHO FINAL/Manja,.psd
semestres/segundo_semestre/cadeiras/matematica_discreta/anotacoes/Somatório _250919_104042.sdocx
semestres/terceiro_semestre/cadeiras/pds_projeto_detalhado_de_software/Atividades/chat_simples/draw.io-28.2.5-windows-installer.exe
